<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina-inicial</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/nav_bar.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600;700;900&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content%}
    {% endblock%}
</body>
</html>