<!-- {% extends 'base.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- Cabecalho do site -->
    {% include 'nav_bar.html' %}

    <!-- Tabela para exibir dados do voluntario -->
    <div class="container mt-5 pt-5">
        <h2 class="text-center">Lista de Voluntários</h2>
        <div class="row justify-content-center">
            <div class="table-responsive col-10">
                <table class="table table-striped table-hover table-bordered table-sm" id="tabelaVoluntarios">
                    <thead class="table-success border">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Materia</th>
                            <th scope="col">Disponíbilidade</th>
                            <th scope="col">Dia da semana</th>
                            <th scope="col">Horário</th>
                            <th scope="col">E-mail</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider"></tbody>
                </table>
            </div>
        </div>
    </div>

<script src="{{ url_for('static', filename='JS/tabela_voluntario.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{% endblock %} -->